body {
	background-color: #ECF9FF;
}

hr {
	border-style: dotted none none;
	border-width: 10px;
	border-color: grey;
	width: 10%;
}

h1 {
	color: #8BF5FA;
}

h3 {
	color: #8BF5FA;
}

h3 {
	color: #8BF5FA;
}
